@font-face {
    font-family: 'cursedTimer';
    src: url('/fonts/CursedTimerUlil-Aznm.ttf');
}

@font-face {
    font-family: 'verdana';
    src: url('/fonts/Verdana.ttf');
}

body{
    margin: 0;
    background-color: #1B244A;
}

.main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 25vh 0;

    h1{
        color: #EEEEEE;
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
        font-family: 'verdana';
    }

    .score{
        background: #080001;
        color: #F94F6D;
        margin: -4em auto;
        p{
            font-size: 6em;
            text-align: center;
            padding-top: 10px;
            font-family: 'cursedTimer';
        }
    }
    
    .scorecount{
        margin-top: -4em;
        button{
            border: 1px solid #9AABD8;
            border-radius: 5px;
            background-color: #1B244A;
            color:#9AABD8;
            width: 2.5em;
            height: 2em;
            text-align: center;
            font-family: 'cursedTimer';
        }
        button:hover{
            cursor: pointer;
        }
    }
}